@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');


body {
  font-family: 'Lato', 'PingFang TC', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100; 

}
